# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build products
DerivedData/
.build/
build/
dist/
.env.release

# App packaging
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace
